# Configuration file

general {

    battletowers {
        B:Enabled=false
        S:Label=DEFAULT
        S:Marker=antiqueatlas:wizardtower
    }

    "doomlike dungeons" {
        B:Enabled=false
        S:Label=DEFAULT
        S:Marker=antiqueatlas:dungeon
    }

    dungeons2 {
        B:Enabled=false
        S:Label=DEFAULT
        S:Marker=antiqueatlas:dungeon
    }

    quark {
        B:"Pirateship - Enabled"=false
        S:"Pirateship - Label"=DEFAULT
        S:"Pirateship - Marker"=antiqueatlas:skull
    }

    aarcaddon {
        B:Enabled=false
    }

    "ice and fire" {
        B:"Cyclops - Enabled"=false
        S:"Cyclops - Marker"=antiqueatlas:red_x_small
        B:"Fire Dragon - Enabled"=false
        S:"Fire Dragon - Label"=DEFAULT
        S:"Fire Dragon - Marker"=antiqueatlas:dragon_red
        B:"Hydra - Enabled"=false
        S:"Hydra - Label"=DEFAULT
        S:"Hydra - Marker"=antiqueatlas:dragon_green
        B:"Ice Dragon - Enabled"=false
        S:"Ice Dragon - Label"=DEFAULT
        S:"Ice Dragon - Marker"=antiqueatlas:dragon_blue
        B:"Lightning Dragon - Enabled"=false
        S:"Lightning Dragon - Label"=DEFAULT
        S:"Lightning Dragon - Marker"=antiqueatlas:dragon_gold
    }

    "better mineshafts" {
        B:Enabled=false
        S:Label=DEFAULT
        S:Marker=antiqueatlas:tracks
    }

    lycanitesmobs {
        B:Enabled=false
        S:Label=DEFAULT
        S:Marker=antiqueatlas:dungeon
    }



    "custom positions" {
        S:"Custom Position Markers" <
            0; -950; -2228; 0; 0; Frozen Greens Teleporter; antiqueatlas:tower
            0; -2355; -642; 0; 0; The Highlands Teleporter; antiqueatlas:tower
            0; -1987; 1453; 0; 0; Valley of Sulfur Teleporter; antiqueatlas:tower
            0; -116; 2455; 0; 0; Southern Green Teleporter; antiqueatlas:tower
            0; 2407; -401; 0; 0; Sea of Decay Teleporter; antiqueatlas:tower
            0; 1171; -2126; 0; 0; Green Desert Teleporter; antiqueatlas:tower
            0; 1831; 1635; 0; 0; Permafrost Teleporter; antiqueatlas:tower
            0; -7236; -17890; 0; 0; Green Hell; antiqueatlas:google
            0; -8247, -12929; -950; -2228; Frozen Greens; antiqueatlas:google
            0; -12666; -14091; 0; 0; Dead Dunes; antiqueatlas:google
            0; -17363; -11669; 0; 0; Ancient Swamps; antiqueatlas:google
            0; -16191; -17841; 0; 0; Nuclear Dead Zone; antiqueatlas:google
            0; -14345; -6923; -2355; -642; The Highlands; antiqueatlas:google
            0; -13608; -7793; -14345; -6923; Valley of Caverns; antiqueatlas:google
            0; -15937; -3457; -14345; -6923; Kingdom of Daeroc; antiqueatlas:google
            0; -14892; -3779; -14345; -6923; Capital of Daeroc; antiqueatlas:google
            0; -15908; -4843; -14345; -6923; Mines; antiqueatlas:google
            0; -16318; -5849; -14345; -6923; Mines; antiqueatlas:google
            0; -11993; -9272; -14345; -6923; Mines; antiqueatlas:google
            0; -11689; -546; 0; 0; Isle of Mushroom; antiqueatlas:google
            0; -16577; 2348; 0; 0; Southern Highlands; antiqueatlas:google
            0; -17075; 5136; -16577; 2348; Stronghold of Origins; antiqueatlas:google
            0; -17202; 3847; -16577; 2348; Mines; antiqueatlas:google
            0; -17006; 2714; -16577; 2348; Pumpkin Cult; antiqueatlas:google
            0; -16743; 551; -16577; 2348; Northern Canyons; antiqueatlas:google
            0; -17788; 8593; 0; 0; Sea of Decay; antiqueatlas:google
            0; -11157; 6308; 0; 0; Toxic Desert; antiqueatlas:google
            0; -14394; 7793; -1987; 1453; Valley of Sulfur; antiqueatlas:google
            0; -13046; 12031; 0; 0; Grand Canyons; antiqueatlas:google
            0; -8671; 15136; 0; 0; Endless Desert; antiqueatlas:google
            0; -7983; 11069; 0; 0; Three Point Desert; antiqueatlas:google
            0; -5800; 12949; 0; 0; Isle of Mushroom; antiqueatlas:google
            0; -8691; 15029; 0; 0; Sea of Decay; antiqueatlas:google
            0; -2363; 15883; -116; 2455; Southern Green; antiqueatlas:google
            0; -102; 15332; -5800; 12949; Archipelago of Pirates; antiqueatlas:google
            0; -3881; 16411; -5800; 12949; Purple Jungle; antiqueatlas:google
            0; -1123; 16323; -5800; 12949; Green Peaks; antiqueatlas:google
            0; 7988; 13359; 1831; 1635; Permafrost; antiqueatlas:google
            0; 5107; 13710; 7988; 13359; Western Cavernous Pines; antiqueatlas:google
            0; 8540; 12636; 7988; 13359; Basalt Plains; antiqueatlas:google
            0; 6650; 13144; 7988; 13359; Frostburn Canyons; antiqueatlas:google
            0; 9829; 12436; 7988; 13359; Eastern Cavernous Pines; antiqueatlas:google
            0; 16240; 17021; 0; 0; Land of Lakes; antiqueatlas:google
            0; 15107; 5195; 0; 0; Impact Ground Zero; antiqueatlas:google
            0; 15439; -302; 0; 0; Red Canyon Hills; antiqueatlas:google
            0; 12050; -2773; 0; 0; Sea of Decay; antiqueatlas:google
            0; 13505; -8554; 2407; -401; Sea of Decay; antiqueatlas:google
            0; 16103; -4921; 13505; -8554; Nuclear Cities; antiqueatlas:google
            0; 12041; -6582; 13505; -8554; Nuclear Cities; antiqueatlas:google
            0; 17490; -12392; 0; 0; Desert Eye; antiqueatlas:google
            0; 17402; -17050; 0; 0; Nuclear Sands; antiqueatlas:google
            0; 3303; -13134; 1171; -2126; Green Desert; antiqueatlas:google
            0; 7177; -15234; 3303; -13134; Green Canyons; antiqueatlas:google
            0; 4267; -15117; 3303; -13134; Lower Lakes; antiqueatlas:google
            0; -2714; -14477; 0; 0; Northern Four; antiqueatlas:google
         >
    }

    ruins {
        B:Enabled=false
        S:"Ruins Structure Markers" <
            Tower-ruined-short; false; DEFAULT; antiqueatlas:ruins
            Tower-edit; true; DEFAULT; antiqueatlas:tower
            TowerEasy; true; DEFAULT; antiqueatlas:tower
            TowerMedium; true; DEFAULT; antiqueatlas:tower
            TowerHard; true; DEFAULT; antiqueatlas:tower
            ZombieHut; false; DEFAULT; antiqueatlas:sword
            SkyCastle; true; DEFAULT; antiqueatlas:diamond
            UnderwaterBase; false; DEFAULT; antiqueatlas:diamond
            Floater; true; DEFAULT; antiqueatlas:diamond
            PirateShip; true; DEFAULT; antiqueatlas:ship
            StoneHouseM; false; DEFAULT; antiqueatlas:ruins
            PortalShrine; true; DEFAULT; antiqueatlas:nether_portal
            GraveyardHaunted; true; DEFAULT; antiqueatlas:diamond
            GateUnderGlass; false; DEFAULT; antiqueatlas:nether_portal
            Mausoleum; false; DEFAULT; antiqueatlas:sword
            ArrowTrapTomb; false; DEFAULT; antiqueatlas:diamond
            SnowCastleSpire; false; DEFAULT; antiqueatlas:sword
            NetherShrine; true; DEFAULT; antiqueatlas:nether_portal
         >
    }

    "lang keys" {
        S:"Default Lang Keys" <
            wildWaystone=Wild Waystone
            betterMineshaft=Mineshaft
            dungeons2=Dungeon2
            quarkPirateShip=Pirates
            Tower-ruined-short=Ruined BT Short
            Tower-edit=Ruined BT
            TowerEasy=Ruined BT
            TowerMedium=Ruined BT
            TowerHard=Ruined BT
            ZombieHut=Two Zombie Spawners
            SkyCastle=Sky Castle
            UnderwaterBase=Underwater Base
            Floater=Floater
            PirateShip=XP Ship
            StoneHouseM=Small Starter House
            PortalShrine=Nether Portal
            GraveyardHaunted=Graveyard
            GateUnderGlass=Nether Portal
            Mausoleum=Eight Zombie Spawners
            ArrowTrapTomb=Simple Dungeon Loot
            SnowCastleSpire=Blaze Spawners
            NetherShrine=Nether Portal
         >
        B:"Prioritise Config Lang Keys"=false
    }

    internal {
        B:"Fire ReceivedStructureMarkerEvents on client"=true
        B:"Send Debug Messages"=false
    }

    waystones {
        B:"Activated - Enabled"=false
        S:"Activated - Label"=DEFAULT
        S:"Activated - Marker"=antiqueatlas:waystone
        B:"Activated Waystones - Always mark"=false
        B:"Activated Waystones - Auto update name"=true
        B:"Wild - Enabled"=false
        S:"Wild - Label"=DEFAULT
        S:"Wild - Marker"=antiqueatlas:waystone
    }

    enchantments {
        B:"Enable Librarian Key"=false
        B:Enabled=false
        S:"Enchantments Trades to mark" <
            minecraft:protection;2;Prot
            minecraft:feather_falling;4;FF
            minecraft:respiration;3
            minecraft:aqua_affinity;;Aqua Aff
            minecraft:depth_strider;3;Depth Str
            minecraft:sweeping;2;Sweep Edge
            minecraft:efficiency;3;Eff
            minecraft:silk_touch
            minecraft:unbreaking;2
            minecraft:fortune;2
            minecraft:power;3
            minecraft:infinity
            minecraft:mending
            somanyenchantments:advancedefficency;2;Adv Eff
            somanyenchantments:advancedsharpness;2;Adv Sharp
            somanyenchantments:fieryedge
            somanyenchantments:purification;2;Purif
            somanyenchantments:rune_piercingcapabilities;;R:PC
            somanyenchantments:swifterslashes;2;Swifter
            somanyenchantments:parry
            somanyenchantments:lifesteal
            somanyenchantments:clearsky;3;Clearskies
            somanyenchantments:smelter
            somanyenchantments:empowereddefence;;Emp Def
            somanyenchantments:strafe;2
            somanyenchantments:advancedlooting;;Adv Loot
            somanyenchantments:ashdestroyer;2
            somanyenchantments:desolator;2
            somanyenchantments:purgingblade;2;Purging
            somanyenchantments:viper;2
            somanyenchantments:advancedpower;3
            somanyenchantments:envenomed;2
            somanyenchantments:advancedlure;2;Adv Lure
            somanyenchantments:advancedluckofthesea;2;Adv LotS
            somanyenchantments:advancedfeatherfalling;3;Adv FF
            somanyenchantments:advancedthorns;2;Adv Thorns
            somanyenchantments:advancedprotection;2;Adv Prot
            somanyenchantments:atomicdeconstructor;;Atomic
            somanyenchantments:disarmament;4;Disarma
            somanyenchantments:afa;;Adv FA
            somanyenchantments:swiper;;Arc Sl
            somanyenchantments:afl;;Adv Flame
            somanyenchantments:splitshot;3
            somanyenchantments:strengthenedvitality;2;Str Vitality
            somanyenchantments:burningshield;3;Burn Shield
            somanyenchantments:naturalblocking;;Nat Block
            somanyenchantments:rune_arrowpiercing;2;R:AP
            somanyenchantments:innerberserk;3
            somanyenchantments:luckmagnification;;Luck Mag
            somanyenchantments:lightweight
            somanyenchantments:underwaterstrider;2;UW Strider
            somanyenchantments:frenzy
            somanyenchantments:evasion
            somanyenchantments:bluntness;2
            somanyenchantments:english;2;Subj Eng
            somanyenchantments:pe;3;Subj PE
            somanyenchantments:supremesharpness;;Sup Sharp
            somanyenchantments:supremesmite;4;Sup Smite
            somanyenchantments:curseofpossession;;C. of Poss
            somanyenchantments:sfa;;Sup FA
            somanyenchantments:advancedmending;;Adv Mend
            somanyenchantments:sfl;;Sup Flame
            somanyenchantments:upgrade;;Upg Pot
            somanyenchantments:adept
            somanyenchantments:magmawalker;2
            spartanweaponry:rapid_load;2
            spartanweaponry:spreadshot
            spartanweaponry:sharpshooter;2
            spartanshields:spikes;2
            mujmajnkraftsbettersurvival:vampirism
            mujmajnkraftsbettersurvival:agility
            mujmajnkraftsbettersurvival:arrowrecovery;3;Arr Rec
            mujmajnkraftsbettersurvival:combo
            mujmajnkraftsbettersurvival:highjump;2
            mujmajnkraftsbettersurvival:smelting
            mujmajnkraftsbettersurvival:education
            mujmajnkraftsbettersurvival:versatility;;Versa
            mujmajnkraftsbettersurvival:multishot;3
            mujmajnkraftsbettersurvival:range
            mujmajnkraftsbettersurvival:rapidfire
            charm:magnetic
            grapplemod:doublejumpenchantment
         >
        S:"Librarian Key Label"=Whiteshirt
        S:"Librarian Key Marker"=antiqueatlas:anvil
        S:Marker=antiqueatlas:book
    }

    "antique atlas overhaul" {
        B:"Also check player offhand for atlases"=true
        B:"Fix Atlas Combining Recipe Dupe"=true
        B:"Fix Atlas Marker Lang Keys"=true
        B:"Fix Crash with Short/IntDimensionUpdatePacket"=true
        B:"Marker data in smaller packets"=true
        B:"Only send to all holding the atlas"=true
        B:"Reroute modded Global Markers"=true
    }

    structures {
        # Pattern: structureName; enabled; marker label; marker type. Automatically fills with entries after restart.
        S:"Structure Markers" <
            
            Monument; false; your label here; your marker type here
            EndCity; false; your label here; your marker type here
            Village; false; your label here; your marker type here
            Mansion; false; your label here; your marker type here
            LostMansion; false; your label here; your marker type here
            bettermineshafts:bettermineshaft; false; your label here; your marker type here
            Stronghold; false; your label here; your marker type here
            OTGVillage; false; your label here; your marker type here
            Temple; false; your label here; your marker type here
            SnowVillageStart; false; your label here; your marker type here
            Fortress; false; your label here; your marker type here
            Mineshaft; false; your label here; your marker type here
            OTGTemple; false; your label here; your marker type here
            BOPTemple; false; your label here; your marker type here
         >
    }

}


