# Configuration file

general {

    ##########################################################################################################
    # server options
    #--------------------------------------------------------------------------------------------------------#
    # Server-Side Options
    ##########################################################################################################

    "server options" {
        # Parasites spawned in Abyssal Rift will have armor that is this much higher than other overworld parasites
        D:"Abyssal Rift Parasite Stat Multi: Armor"=2.0

        # Parasites spawned in Abyssal Rift will have dmg that is this much higher than other overworld parasites
        D:"Abyssal Rift Parasite Stat Multi: Dmg"=4.0

        # Parasites spawned in Abyssal Rift will have health that is this much higher than other overworld parasites
        D:"Abyssal Rift Parasite Stat Multi: HP"=2.0

        # List of mobs that players will not get dismounted from in Abyssal Rift
        S:"Allowed Mounts in Abyssal Rift" <
            minecraft:horse
            minecraft:donkey
            minecraft:pig
            minecraft:llama
         >

        # Effect that clicking on berians will always give
        S:"Berian Constant Effect"=mod_lavacow:soiled

        # Cannot rename any mob with or to these names
        S:"Blacklisted Name Change Any Mob" <
            Dismounting
            Dismounter
            Dispel
            Sarevok
            Jester
         >

        # Cannot rename parasites with or to these names
        S:"Blacklisted Name Change Parasite" <
            Sentient Horror
            Degrading Overseer
            Malformed Observer
            Shivaxi
            Corrupted Carrier
            Necrotic Blight
         >

        # Cannot rename Player Bosses with or to these names
        S:"Blacklisted Name Change Player Bosses" <
            Blighted Shivaxi
         >

        # Health multiplier for Blighted Shivaxi
        D:"Blighted Shivaxi Health Multiplier"=0.5

        # Chance of a librarian being converted to a Mentalberian on generation
        # Min: 0.0
        # Max: 1.0
        D:"Mentalberian Chance"=0.05

        # List of potion effects that mentalberians will randomly give
        S:"Mentalberian Random Effect List" <
            minecraft:nausea
            minecraft:mining_fatigue
            minecraft:blindness
            minecraft:unluck
            lycanitesmobs:paralysis
            lycanitesmobs:insomnia
            lycanitesmobs:fear
            lycanitesmobs:aphagia
            potioncore:klutz
            potioncore:spin
            potioncore:disorganization
            rustic:tipsy
            elenaidodge:sluggish
            srparasites:fear
         >

        # Prevents Observers from ticking a redstone pulse on world gen
        B:"Patch Observer Ticking"=false

        # Removes old item attributes (atk dmg and atk speed) from 1.0.4
        B:"Remove old Attribute Modifiers"=true

        # Chance of a librarian being converted to a Sussyberian on generation
        # Min: 0.0
        # Max: 1.0
        D:"Sussyberian Chance"=0.05

        # List of potion effects that sussyberians will give
        S:"Sussyberian Random Effect List" <
            potioncore:lightning
            potioncore:explode
            potioncore:explode
            potioncore:explode
            potioncore:explode
            potioncore:explode
            potioncore:explode
            potioncore:launch
            potioncore:launch
            potioncore:launch
            potioncore:launch
            potioncore:launch
            potioncore:launch
         >

        # List of entities to allow randomly adding tipped arrows
        S:"Tipped Arrow Replacement Allowed Entities" <
            minecraft:skeleton
            minecraft:wither_skeleton
         >

        # List of long potion types to be used for tipped arrows randomly added to entities
        S:"Tipped Arrow Replacement Allowed PotionTypes Long" <
            potioncore:long_klutz
            potioncore:long_weight
            potioncore:long_broken_armor
            potioncore:long_spin
            quark:long_mining_fatigue
            potioncore:long_magic_inhibition
            potioncore:long_drown
            potioncore:long_vulnerable
            potioncore:long_rust
            potioncore:long_perplexity
            minecraft:long_slowness
            mujmajnkraftsbettersurvival:long_antiwarp
            mujmajnkraftsbettersurvival:long_decay
            mujmajnkraftsbettersurvival:long_blindness
            potioncore:long_blindness
            potioncore:long_nausea
            potioncore:long_levitation
            potioncore:long_hunger
            potioncore:long_wither
            elenaidodge:long_sluggish
            minecraft:long_poison
            minecraft:long_weakness
            elenaidodge:long_feeble
            potioncore:long_broken_magic_shield
         >

        # List of non-long potion types to be used for tipped arrows randomly added to entities
        S:"Tipped Arrow Replacement Allowed PotionTypes Short" <
            potioncore:strong_broken_armor
            potioncore:broken_armor
            potioncore:strong_klutz
            potioncore:klutz
            potioncore:dispel
            potioncore:strong_launch
            potioncore:launch
            potioncore:spin
            potioncore:strong_spin
            potioncore:curse
            potioncore:strong_curse
            quark:mining_fatigue
            quark:strong_mining_fatigue
            potioncore:disorganization
            srparasites:foster
            srparasites:coth
            srparasites:fear
            srparasites:res
            srparasites:corro
            srparasites:vira
            srparasites:rage
            srparasites:debar
            potioncore:magic_inhibition
            potioncore:weight
            potioncore:lightning
            potioncore:strong_explode
            potioncore:teleport
            potioncore:strong_teleport
            potioncore:teleport_surface
            potioncore:drown
            potioncore:teleport_spawn
            potioncore:strong_vulnerable
            potioncore:vulnerable
            potioncore:strong_rust
            potioncore:rust
            potioncore:perplexity
            minecraft:slowness
            mujmajnkraftsbettersurvival:milk
            mujmajnkraftsbettersurvival:antiwarp
            mujmajnkraftsbettersurvival:strong_decay
            mujmajnkraftsbettersurvival:decay
            potioncore:nausea
            potioncore:levitation
            potioncore:strong_levitation
            potioncore:unluck
            potioncore:strong_hunger
            potioncore:hunger
            potioncore:strong_wither
            potioncore:wither
            elenaidodge:sluggish
            elenaidodge:strong_feeble
            minecraft:harming
            minecraft:strong_harming
            minecraft:poison
            minecraft:strong_poison
            mujmajnkraftsbettersurvival:blindness
            elenaidodge:feeble
            potioncore:strong_magic_inhibition
            potioncore:strong_weight
            potioncore:fire
            potioncore:invert
            potioncore:broken_magic_shield
            potioncore:strong_broken_magic_shield
            potioncore:strong_blindness
            potioncore:blindness
            potioncore:explode
            xat:extended_goblin
            xat:goblin
         >

        # Chance for an entity to have its arrow replaced with a tipped arrow
        # Min: 0.0
        # Max: 1.0
        D:"Tipped Arrow Replacement Chance"=0.05000000074505806

        # Chance of an underground un-looted chest becoming a mimic
        # Min: 0.0
        # Max: 1.0
        D:"Underground Mimic Chance"=0.05

        # List of dimension IDs in which underground chests will have a chance to become mimics
        I:"Underground Mimic Dimensions" <
            0
         >
    }

    ##########################################################################################################
    # client options
    #--------------------------------------------------------------------------------------------------------#
    # Client-Side Options
    ##########################################################################################################

    "client options" {
        # Whether the loadingscreen pictures are displayed in set order or randomised order
        B:"LoadingScreens: Display in Random Order"=true

        # Whether there should be only one loadingscreen picture displayed per loading, no cycling during load. Will always display first picture in list if random order config is off
        B:"LoadingScreens: Don't Cycle"=false

        # How many seconds to display each loadingscreen picture
        I:"LoadingScreens: Frequency"=4
    }

}


