# Configuration file

general {
    B:"Fix Missing Enchantment"=true
    B:"Only First Enchant"=true
    B:"Remove Glint"=false
    B:"Remove Log Spam"=true
    B:fixMissingEnchantment=true
    B:onlyFirstEnchant=true
    B:removeGlint=false
    B:removeLogSpam=true
}


