# Configuration file

client {
}


common {
    # If Removable Gems is enabled, destroys the gem on removal instead of returning it to the player
    B:"Destructive Gem Removal"=false

    # If enabled, Socketed will attempt to prevent items with sockets from being enchanted, and enchanted items from getting sockets
    B:"Enchantment Lock"=false

    # Maximum tier possible for tiered sockets
    # Warning: If you change this value from default you will want to supply your own textures and language files
    # Min: 0
    # Max: 5
    I:"Max Socket Tier"=3

    # Maximum amount of sockets any item can have
    # Warning: Lowering this value can cause already existing items to lose excess sockets
    # Min: 1
    # Max: 8
    I:"Max Sockets"=8

    # Only loads gem effects from built-in default effects including from addons, disable this when creating your own effects
    B:"Only Use Default Effects"=true

    # If set to false, gems can only be placed into sockets, not removed
    B:"Removable Gems"=true
}


"default socket acquisition" {
    # How many sockets an item generated by general loot pools (excluding pre-defined socketed items) can roll at maximum
    I:"General Loot Max Sockets"=4

    # How often an item generated by general loot pools (excluding pre-defined socketed items) will attempt to roll with sockets
    D:"General Loot Socket Chance"=0.20000000298023224

    # How many sockets an item sold by villagers can roll at maximum
    I:"Merchant Max Sockets"=2

    # How often an item sold by villagers will attempt to roll with sockets
    D:"Merchant Socket Chance"=0.20000000298023224

    # How many sockets an item generated by mob loot pools can roll at maximum
    I:"Mob Loot Max Sockets"=6

    # How often an item generated by mob loot pools will attempt to roll with sockets
    D:"Mob Loot Socket Chance"=0.20000000298023224

    # Registers Socket items and recipes to allow adding sockets to existing items
    B:"Register Socket Items"=true

    # Base chance when rolling sockets
    D:"Socket Rolls Base Chance"=0.20000000298023224

    # Define items here to override the roll chance calculation determined by material enchantability
    # Format: <MODID:ItemID>,<RollChance>
    S:"Socket Rolls Chance Overrides" <
        iceandfire:armor_silver_metal_helmet, 0.2
        iceandfire:armor_silver_metal_chestplate, 0.2
        iceandfire:armor_silver_metal_leggings, 0.2
        iceandfire:armor_silver_metal_boots, 0.2
     >

    # Minecraft uses Material Enchantability to determine EnchantabilityTier to roll enchantments
    # EnchantabilityTier (0-7) = MaterialEnchantability / 4
    # Socket roll chance = Base Chance + EnchantabilityTier * Tier Chance Multiplier
    D:"Socket Rolls Tier Chance Multiplier"=0.07999999821186066

    # Weighted chance for each tier of sockets to be picked when rolling on items (0, 1, 2, 3)
    I:"Socket Tier Weights" <
        3
        5
        2
        1
     >

    # Default amount of rolls for item types defined in Socketable Items config
    # Format: <TYPENAME>,<Rolls>
    S:"Socketable Item Type Rolls" <
        HELMET, 5
        CHESTPLATE, 5
        LEGGINGS, 5
        BOOTS, 5
        SWORD, 5
        BOW, 1
        AXE, 3
        PICKAXE, 1
        SHOVEL, 1
        SHIELD, 5
     >
}


"socketable items" {
    # If socketable item type definitions added by addon mods should be used
    B:"Allow Forced Socketable Item Types"=true

    # Defaults are predefined item types that can receive sockets, remove the entry to disable
    # Additional item types can be defined to allow for socketing other items
    # Additional Types Pattern: <TYPENAME>;<Item ID Regex>
    S:"Socketable Item Type Definitions" <
        HELMET
        CHESTPLATE
        LEGGINGS
        BOOTS
        SWORD
        FISHING_ROD
        BOW
        AXE
        PICKAXE
        HOE
        SHOVEL
        SHIELD
     >
}


